body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

form{
    margin-top: 10%;
}
img{
    height: 50px;
    width: 50px;
}
label{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
h1{
    color:rgb(240,200,6);

}
.wrapper_stores,
.wrapper_Vehicles {
    position: relative;
    height: 6%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10%;
    border: 1px solid rgb(119, 255, 0);
}

.wrapper_Vehicles span,
.wrapper_stores span {
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.wrapper_stores .plus_stores,
.wrapper_Vehicles .plus_Vehicles {
    color: rgb(248, 200, 6);
    font-weight: bold;
    font-size: 35px;
}

.wrapper_stores .minus_stores,
.wrapper_Vehicles .minus_Vehicles {
    color: rgb(119, 255, 0);
    font-weight: bold;
    font-size: 37px;
}

.newVehicle {
    border-color:rgb(119, 255, 0);
       
}
.box .accept_fridge span{
    font-size: 20;
}

#Start_Simulation {
    background-color: rgb(248, 200, 6);
    color: white;
    font-size: 26px;
    border-style: none;
height: 8%;
cursor:pointer;
}

.accept_fridge .col input[type="radio"].with-gap:checked+span:after {
    background-color: #fc6805;
    border-color: #ffd904;
}
.Info_of_Vehicle {
    font-size: 30px;
    font-weight: 600;
    color: rgb(240, 200, 6);
    
}


#map {
    height: 100%;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}